ion-content{
    --background: #121212;
}

#map{
    width: 100%;
    height: 100%;
  }
ion-toolbar{
    --background: #108b3c;
}

#btn-volver{
    --background: #108b3c;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: none;
    height: 50px;
    --border-radius: 16px;
    font-family: 'SFCompactText-Medium';
    --color: #ffffff;
    color: #ffffff;
    .label-button2{
      font-family: 'SFCompactText-Medium';
      color: #ffffff;
    }

  }
  #btn-explorar{
    --background: #222121;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    display: none;
    height: 50px;
    text-transform: none;
    border: 2px solid #108b3c;
    border-radius: 16px;
    --border-radius: 16px;
  }

  #carrito{
    position: absolute;
    right: 0;
  }
  img{
    width: 24px;
    height: 24px;
  }
  ion-badge{
   
    --padding-start: 5px;
    --padding-end: 5px;
  }
  ion-footer{

    ion-toolbar{
      --background: #222121;
      background: #222121;
      
      .label-button{
        font-family: 'SFCompactText-Medium';
        color: #ffffff;
      }
    }
  }

  ion-chip{
    --background: #fff;
    --color: #108b3c;
    font-size: 16px;
  }