<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start"(click)="regresar()">
      <ion-icon name="arrow-back" style="zoom: 1.3; color: #ffff;"></ion-icon>
  </ion-button>
    <ion-title>Método de pago</ion-title>
    <ion-label slot="end" >S/ {{total}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Selecciona un método de pago</h3>

  <ion-button class="btn-metodos" expand="block"  mode="ios" style="margin-top: 30px;" (click)="pagoTarjetas()">Tarjeta de débito o crédito<ion-icon class="icono-superiores" name="chevron-forward-outline"></ion-icon></ion-button>

  <ion-button class="btn-metodos" expand="block"  mode="ios" style="margin-top: 20px;">Pago Efectivo<ion-icon class="icono-superiores" name="chevron-forward-outline"></ion-icon></ion-button>

  <ion-button fill="clear" id="btn-anterior" (click)="regresar()" ><ion-icon class="icono-inferiores" name="chevron-back-outline"></ion-icon>Anterior</ion-button>
  <ion-button fill="clear" id="btn-siguiente"  disabled>Siguiente<ion-icon class="icono-inferiores" name="chevron-forward-outline"></ion-icon></ion-button>


 
</ion-content>
