<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #f3f2ed;">
      <ion-back-button id="volver3" (click) = "regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 18px;">Finalizar compra</ion-title>
    <ion-label  style="font-size: 18px;" slot="end" >S/ {{total.toFixed(2)}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Resumen de tu orden</h3>

  <ion-item style="--border-color:#121212;margin-top: 20px;" *ngFor="let bebida of carrito.bebidas;">
      <ion-col>
        <ion-row>
          <p class="descripcion-bebida">{{bebida.nombrebebida}}</p>
        </ion-row>
        <ion-row>
          <ion-label class="tienda">{{bebida.nombrecomercial}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="precio">S/ {{bebida.preciobebidasocio.toFixed(2)}}  °  <span style="font-weight: lighter;color: #108b3c;"> Disponible</span></ion-label>
        </ion-row>
      </ion-col>
      <img src = "{{bebida.rutaimagenbebida}}">
  </ion-item>

  <ion-item style="margin-top: 60px;--border-color:#ffc30b;">
    <ion-col>
      <ion-row>
        <ion-label class="tienda">{{modalidad}}</ion-label>
      </ion-row>
    </ion-col>
    <ion-label class="tienda">{{indicadorModalidad}}</ion-label>
  </ion-item>
  <ion-item style="margin-top: 10px;--border-color:#ffc30b;">
    <ion-col>
      <ion-row>
        <ion-label class="tienda">Método de Pago</ion-label>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-label class="descripcion-bebida">{{tipo}}****{{num_tarjeta}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="tienda">vence {{tarjeta.fecha}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label> </ion-label>
      </ion-row>
    </ion-col>
   
  </ion-item>
  <ion-item style="margin-top: 10px;--border-color:#121212;">
    <ion-col>
      <ion-row>
        <ion-label class="descripcion-bebida">Total</ion-label>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-label class="descripcion-bebida">S/ {{total.toFixed(2)}}</ion-label>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-input id="txt-token" (ionChange)="enviarDatosPago();" disabled="true" style="--background: #121212; border: none; color:  #121212;"></ion-input>
  <ion-input id="txt-tipo" disabled="true" style="--background: #121212; border: none; color:  #121212;"></ion-input>
</ion-content>
<ion-footer>
  <ion-button id="btn-volver" disabled={{buttonDisabled}} expand="block" (click)="comprobarDni()">Pagar</ion-button>
</ion-footer>
