:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background);

  --page-swiper-pagination-space: 40px;
  --page-swiper-pagination-height: 18px;
  --page-pagination-bullet-size: 10px;

  --page-first-slide-background: #121212;
  --page-second-slide-background: #121212;
  --page-third-slide-background: #121212;
  --page-last-slide-background: #121212;

  --button-color-transparent: transparent;

  --page-vector-decoration-fill: var(--ion-color-light-shade);

}

.walkthrough-slides {
    --bullet-background: var(--ion-color-dark);
    --bullet-background-active: var(--ion-color-dark);
  
    height: 100%;
  
    .slide-inner-row {
      height: 100%;
      width: 100%;
      padding: 0px;
      // Header space
      padding-top: var(--app-header-height);
      // .swiper-pagination space
      border-bottom: var(--page-swiper-pagination-space) solid transparent;
      background-clip: padding-box;
      background-color: var(--page-vector-decoration-fill);
  
      .font-tittle{
        font-family: 'Montserrat-Bold';
        color: #108b3c;
        font-size: 36px;
      }
    }
  }

  .first-slide {
    --page-vector-decoration-fill: var(--page-first-slide-background);
    
  }

  .second-slide {
    --page-vector-decoration-fill: var(--page-second-slide-background);
  }
  
  .last-slide {
    --page-vector-decoration-fill: var(--page-third-slide-background);
  }

  :host ::ng-deep .walkthrough-slides {
    background-color: #121212;
    .swiper-pagination {
      height: var(--page-swiper-pagination-height);
      line-height: 1;
      background-color: #121212;
      // .swiper-pagination is 18px height, .slide-inner-row has 40px of padding-bottom => bottom = (40px - 18px)/2 = 11px
      bottom: calc((var(--page-swiper-pagination-space) - var(--page-swiper-pagination-height) ) / 2);
  
      .swiper-pagination-bullet {
        background-color: #108b3c;
        width: var(--page-pagination-bullet-size);
        height: var(--page-pagination-bullet-size);
      }
    }
  }



  /////////////// SLIDE 4 ///////////////////////////



