app-image-shell.producto-picture {
    --image-shell-border-radius: 10px;
    --image-shell-loading-background: transparent;
    --image-shell-spinner-color: var(--ion-color-dark-shade);
    background-color: #ffffff;
  }

  