
<ion-content padding>
  <div class="cabezera">
    <h3>{{datos.nombrecomercial}}</h3>
    <ion-button class="btn-salir" fill="clear" (click)="cerrarModal()"><ion-icon name="close"></ion-icon></ion-button>
    <p hidden id="texto_nodisponible" class="label-title-nodisponible"></p>
    <p>Dirección: {{datos.direccionsocio}}</p>
    <p>Teléfono: {{datos.telefonosocio}}</p>
  </div>
  
  <ion-list>
    <ion-item lines="none" *ngFor="let bebida of bebidas;let i = index">
      <ion-col size="4">
        <ion-row>
          <app-aspect-ratio [ratio]="{w: 56, h: 56}">
            <app-image-shell class="producto-picture" animation="spinner" src = "{{bebida.rutaimagenbebida}}" ></app-image-shell> <!-- [src]="friend.image"-->
         </app-aspect-ratio>   </ion-row>
      </ion-col>
      <ion-col>
        <ion-row style="width: 120px;">
          <ion-label class="ion-label-nombreMarca">{{bebida.nombremarca}}</ion-label>
        </ion-row>
        <ion-row style="width: 120px;">
          <p class="ion-label-nombreBebida">{{bebida.nombrebebida}}</p>
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-label class="ion-label-precio">S/ {{bebida.preciobebidasocio.toFixed(2)}}</ion-label>
        </ion-row>
      </ion-col>
      <div>
        <ion-row>
          <ion-avatar style="margin-left: 10px;">
            <img src="{{datos.rutafotosocio}}">
          </ion-avatar>
        </ion-row>
        <ion-row>
          <ion-icon (click)="menos(i)" class="btn-cantidad" name="remove-circle"></ion-icon>
          <ion-label id="txt-numero" style="margin-top: 9px; margin-left: 5px;margin-right: 5px;color: #ffff;">{{bebida.cantidad}}</ion-label>
          <ion-icon (click)="mas(i)" class="btn-cantidad" name="add-circle"></ion-icon>
      </ion-row>
      </div>
    </ion-item>
  </ion-list>
  <div class="cabezera">
    <h3 id="txt-total" style="font-size: 20px; color: #ffffff;">Total: S/ {{total}}</h3>
  </div>

</ion-content>
<ion-footer>
  <ion-button disabled={{buttonDisabled}} expand="block" id="btn-agregar-carrito" (click)="agregarAlcarrito()">
    <ion-label id="txt-cantidad-btn">{{num_bebidas}}</ion-label>
    <ion-label class="label-boton"> Añadir al carrito </ion-label> 
    <ion-label id="txt-total">S/ {{total}}</ion-label>
  </ion-button>
</ion-footer>
