@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../assets/font-family/montserrat/Montserrat-Bold.otf');
    font-weight: 700;
    font-style: Bold;
  }

  @font-face {
    font-family: 'Gotham-Medium';
    src: url('../assets/font-family/Gotham Medium/Gotham Medium.otf');
    font-weight: 1200;
    font-style: Medium;
  }

  @font-face {
    font-family: 'Gotham-Back-Regular';
    src: url('../assets/font-family/Gotham Black Regular/Gotham Black Regular.ttf');
  }

  @font-face {
    font-family: 'Gotham-Bold';
    src: url('../assets/font-family/Gotham Bold/Gotham Bold.otf');
  }

  @font-face {
    font-family: 'SFCompactText-Medium';
    src: url('../assets/font-family/SFCompactText/SFCompactText-Medium.ttf');
    font-style: Medium;
  }

  @font-face{
    font-family: 'SFUIDisplay-Regular';
    src: url('../assets/font-family/SFUI-Display-Regular/SF-UI-Display-Regular.otf')
  }

  @font-face{
    font-family: 'SF-UI-Display-Black';
    src: url('../assets/font-family/SF-UI-Display-Black/SF-UI-Display-Black.otf')
  }

  @font-face{
    font-family: 'SFProText-Regular';
    src: url('../assets/font-family/SFProText-Regular/SFProText-Regular.ttf')
  }

  @font-face{
    font-family: 'SFProText-MediumItalic';
    src: url('../assets/font-family/SFProText-MediumItalic/SFProText-MediumItalic.ttf')
  }