<ion-header>

</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <ion-row>
    <div class="conteiner-titulo">
      <ion-label class="titulo-login" style="font-size: 30px;">Número de teléfono<br></ion-label>
    </div>
  </ion-row>

  <ion-row>
    <div class="contenedor">
        <ion-row>
        <ion-label class="label-input">Número de teléfono</ion-label>
      </ion-row>
      <ion-item class="input-item" lines="none">
        <ion-input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  formControlName="telefono" maxlength=9 type="tel" class="input-text"></ion-input>
      </ion-item>
      <div style="width: 100%; margin-bottom: 5px;">
        <span class="error ion-padding error-input" *ngIf="submitted && errorControl.telefono.errors?.required">
            <ion-label class="label-error">Telefono es requerido (Solo números).</ion-label>
          </span>
          <span class="error ion-padding error-input" *ngIf="submitted && errorControl.telefono.errors?.min">
            <ion-label class="label-error">Mínimo 9 dígitos(Solo números).</ion-label>
          </span>
          <span class="error ion-padding error-input" *ngIf="submitted && errorControl.telefono.errors?.max">
            <ion-label class="label-error">Ingrese un número válido (Solo números).</ion-label>
          </span>
    </div>
    </div>
    <div class="contenedor">
      <ion-row>
        <ion-label class="label-input">Contraseña</ion-label>
      </ion-row>
      <ion-item class="input-item" lines="none">
        <ion-input formControlName="password" type="password" class="input-text"></ion-input>
      </ion-item>
      <div style="width: 100%; margin-bottom: 5px;">
        <span class="error ion-padding error-input" *ngIf="submitted && errorControl.password.errors?.required">
            <ion-label class="label-error">Contraseña es requerida.</ion-label>
          </span>
          <span class="error ion-padding error-input" *ngIf="submitted && errorControl.password.errors?.minlength">
            <ion-label class="label-error">Mínimo 8 caracteres.</ion-label>
          </span>
     </div>
    </div>
  </ion-row>
  <ion-row>
    <ion-col>
            <ion-label (click) ="irRegistroDatos()" class="info-paragraph">Registrate</ion-label>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <div class="contenedor">
      <ion-button type="submit" expand="block" class="btn-iniciar-sesion">Iniciar sesión</ion-button>
    </div>
  </ion-row>
</form>
</ion-content>
