<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #f3f2ed;">
      <ion-back-button mode="md" id="volver" (click) = "regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title>Contactanos</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div class="conteiner">
    <p style="color: #f3f2ed;">Si tienes alguna pregunta o sugerencia,</p>
    <p style="color: #f3f2ed;">ponte en contacto con nosotros</p>
    <p style="color: #f3f2ed;">enviándonos un mensaje a</p>
    <p style="color: #108b3c;">bube@bube.com</p>
  </div>

</ion-content>
