ion-content{
    --background: #121212;

    .conteiner-titulo{
        text-align: center;
        align-content: center;
        left: 0;
        right: 0;
        margin-top: 40%;
        width: 100%;
        margin-bottom: 20px;
        .titulo-login{
            color: #f3f2ed;
            font-family: 'SF-UI-Display-Black';
            font-size: 20px;
            margin-top: 20px;
         }
    
      }
      .contenedor{
        align-content: center;
        width: 100%;
    
        
        .label-input{
            color: #515252;
            margin-left: 10%;
            font-family: 'SFUIDisplay-Regular';
            font-style: Regular;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
            color: #f3f2ed;
           
        }
    
        .input-item{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            width: 86%;
            height: 50px;
           --background: transparent !important;
           border: 2px solid #108b3c;
           box-sizing: border-box;
           border-radius: 16px !important; 
           --highlight-color-focused: none;
    
           .input-text{
               color: #8F9090;
               font-family: 'SFUIDisplay-Regular';
               font-style: Regular;
               color: #f3f2ed;
               font-weight: 400;
           }
        }
        .btn-iniciar-sesion{
            --background: #108b3c;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            letter-spacing: 0.25px;
            text-transform: none;
            height: 50px;
            --border-radius: 16px;
            font-family: 'SFCompactText-Medium';
            --color: #ffffff;
            color: #ffffff;
            --background-activated: #1ab952;
        }
        
    }
    
    .info-paragraph {
        margin-bottom: var(--page-margin);
        color: #b8b7b7;
        text-align: left;
        margin-left: 30px;
        text-decoration: underline;
        font-family: 'SFCompactText-Medium';
        font-size: 14px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .error-input{
        margin-left: 8%;
        .label-error{
            font-family: 'SFUIDisplay-Regular';
            font-style: Regular;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: red;
        }
    }   
  }

