@import "../../../theme/mixins/inputs/checkbox-tag";
@import "../../../theme/mixins/inputs/radio-tag";
@import "../../../theme/mixins/inputs/color-radio";

ion-toolbar{
    --background: #108B3C;
}

ion-content{
  --background: #121212;
  ion-list{
    background-color: #121212;
  }
}

.label-toolbar{
     font-size: 22px;
     letter-spacing: 0.25px;
     color: #f3f2ed;
     font-family: 'Gotham-Medium';
  }

  .ion-segment{
      --background: #464545;
      
  }
  ion-segment-button{
    --color-checked: #108B3C;
    text-transform: none;
  }

  .ion-label-radio{
    margin-left: 4px;  
    font-size: 14px;
    color: #f3f2ed;
    font-family: 'SFUIDisplay-Regular';
  }
  .ion-radio{
      margin: auto;
      --color-checked: #108B3C;
  }
  .ion-item-radio{
    margin: auto;
    --background: transparent !important;
  }

  .ion-radio-row{
    background-color: #32383e;
  }

  .text-ion-bar{
    font-size: 16px;
    color: #f3f2ed;
    font-family: 'SFUIDisplay-Regular';
  }


  .ion-item-producto-est{
    --background: linear-gradient(to bottom, #32383e 0%, #17191c 100%);
    border: none;
    border-radius: 23px;
    margin: 0 20px 15px 20px;
    margin-bottom: 20px;
    --padding-start: 3px;
    --padding-end:0px;
    --padding-top:5px;
  }



  .tittle-product{
    font-size: 18px;
    color: #f3f2ed;
    margin-top: -10%;
    margin-bottom: 0;
    position: relative;
    letter-spacing: 0.25px;
    font-family: 'SFCompactText-Medium';
  }
  
  .description-product{
    font-size: 12px;
    color: #f3f2ed;
    letter-spacing: 0.25px;
    font-family: 'SFUIDisplay-Regular';
  }
  
  .price-product{
    margin-top: 0;
    font-size: 18px;
    color: #f3f2ed;
    font-family: 'SFCompactText-Medium';
  }
  .label-dist-calificaion{
    font-size: 12px;
    letter-spacing: 0.25px;
    color: #f3f2ed;
    font-family: 'SFUIDisplay-Regular';
  }

.button-seleccionar{
    text-transform: none;
    --background: transparent;
    border: 1.5px solid #108B3C;
    border-radius: 6px;
}

.label-button-est{
  font-size: 0.8rem;
  letter-spacing: 0.25px;
  font-family: 'SFCompactText-Medium';
}

.text-footer-seleccion{
  font-family: 'SFCompactText-Medium';
  font-size: 18px;
}

.cantidad-style{
  margin: 15px 30px 10px 30px;

  .label-cantidad{
    font-size: 18px;
    color: #f3f2ed;
    letter-spacing: 0.25px;
    font-family: 'SFUIDisplay-Regular';
  }
}


    .button-escoger{

      text-transform: none;
      --background: transparent;
      border: 2px solid #108B3C;
      border-radius: 15px;
      height: 28px;

      .label-button-escoger{
        font-size: 12px;
        letter-spacing: 0.25px;
        font-family: 'SFUIDisplay-Regular';
      }
    }

    .escoger-label{
      font-size: 16px;
      color: #f3f2ed;
      letter-spacing: 0.25px;
      font-family: 'SFUIDisplay-Regular';
    }

    .direccion{
      width: 95%;
      height: 60px;
      position: absolute;
      z-index: 99;
      margin-left: 15px;
      margin-right: 5px;
      margin-top: 35%;
      background: transparent;
      color: #f3f2ed;
      font-size: 14px;
      font-family: 'SFProText-Regular';
  }

  .puntuacion{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    margin-top: 45%;
    margin-left: 45px;
    background: transparent;
    color: #f3f2ed;
}

.puntuacion-numero{
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 99;
  margin-left: 15px;
  margin-top: 45%;
  background: transparent;
  color: #f3f2ed;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-family: 'SFUIDisplay-Regular';
}


  .nombreEstablecimiento{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    margin-top: 10px;
    margin-left: 15px;
    background: transparent;
    font-size: 16px;
    color: #f3f2ed;
    letter-spacing: 0.25px;
    font-family: 'SF-UI-Display-Black';
}

ion-footer{
  background: #121212 !important;
}

#btn-agregar-carrito{
    --background: #108b3c;
    margin-bottom: 20px;
    --border-radius: 20px;
    text-transform: none;

    margin-left: 30px;
    margin-right: 30px;
    color: #f3f2ed;
    height: 50px;
}

.text-footer-seleccion{
  font-family: 'SFCompactText-Medium';
  font-size: 18px;
}

#txt-cantidad-btn{
  background: #f3f2ed;
  color: #000000;
  border: 1px solid #000000;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 0px;
  font-weight: bolder;
}

.ion-item-skeleton{
  border: none;
  --background: linear-gradient(to bottom, #32383e 0%, #17191c 100%);
  border-radius: 23px;
  margin: 0 20px 15px 20px;
  margin-bottom: 20px;
  --padding-start: 3px;
  --padding-end:0px;
  --padding-top:5px;
}

.loadingSpinner{
  --color : #f3f2ed;
}

.checkbox-tags {
  padding: calc(var(--page-margin) / 2) calc(var(--page-margin) - var(--page-tags-gutter));
  @include checkbox-tag();

.checkbox-tag {
padding: 0px var(--page-tags-gutter);
margin: var(--page-tags-gutter) 0px;
}

// Add a deeper selector to override default colors
&.square-checkbox-tags {
background-color: var(--page-background);

.checkbox-tag {
  --checkbox-tag-color: var(--ion-color-medium);
  --checkbox-tag-background: var(--ion-color-lightest);
  --checkbox-tag-active-color: var(--ion-color-lightest);
  --checkbox-tag-active-background: var(--ion-color-secondary);
}
}

// Add a deeper selector to override default colors
&.rounded-checkbox-tags {
    background-color: var(--ion-color-lightest);
    
.checkbox-tag {
  --checkbox-tag-color: #f3f2ed;
  --border-radius: 6px;
  --min-height: 30px !important;
  --max-height: 30px !important; 
  --checkbox-tag-background: transparent;
  --checkbox-tag-active-color: #f3f2ed;
  --checkbox-tag-active-background: #108b3c;
}

.div-border{
  border: solid 2px #108b3c; 
  border-radius: 6px;
  max-width: auto;
  min-width: auto;
  min-height: 30px;
  max-height: 30px;

  .label-button{
    font-size: 0.8rem;
    letter-spacing: 0.25px;
    font-family: 'SFUIDisplay-Regular';
  }
}
}
}
.chip{
  color: #f3f2ed;
  font-size: 12px;
  font-family: 'SFUIDisplay-Regular';
  background-color: #108b3c;
  border-radius: 15px;
}

.ion-card{
  box-shadow: none !important;
  background-color: transparent !important;
}