// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
  
    --page-swiper-pagination-space: 40px;
    --page-swiper-pagination-height: 18px;
    --page-pagination-bullet-size: 10px;
  
    --page-first-slide-background: #121212;
    --page-second-slide-background: #121212;
    --page-third-slide-background: #121212;
    --page-last-slide-background: #121212;
  
    --page-vector-decoration-fill: var(--ion-color-light-shade);
  }
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties

  
  ion-content{
    --background: var(--page-first-slide-background);
  
  }
  
  
  ion-footer{
        background: var(--page-first-slide-background);
    ion-button{
      --color: var(--ion-color-lightest);
       text-transform: none;
       --box-shadow: none !important;
    }
  
  }
  


  ion-content {
    // To get the ion-content behind the ion-header
    position: absolute;
    top: 0;

    .ion-card-content{
      margin-top: 10%;
      width: 100%;
      margin-left: 0;
      margin-bottom: 0;
      box-shadow: none;
  }

  
  }
  .ion-list{
    margin: auto;
    border-radius: 8px !important;
    background-color: transparent !important;
    width: 98%;
    
    .input-item-list{
      color: var(--ion-color-dark);
      color: #f3f2ed!important;
      --background: transparent;
      width: 98%;
      font-size: 0.9rem;
      --border-color: f3f2ed;
    }
  }

    
.ion-combo-row{

       margin-left: 2%;

    }

  .ion-combo2{
    --background: transparent;
    border: solid 1px #108b3c;
    border-radius: 10px;
    margin: 2%;
    width: 30%;
    color:#f3f2ed;
    font-size: 14px;
    
  }
  .toolbar-ahorros{
    --background: #108b3c;
  
     .ion-tittle{
      color: #f3f2ed;
     }
  }

  .card-list{
    background-color: #f3f2ed;
    margin: 4%;
  }

  .label-title-list{
    color:  #108b3c;
    font-family: 'SFCompactText-Medium';
    font-size: 18px;
  }

  .ion-total-ahorros{
    margin-top: 0;
    background-color: #108b3c;
    color: #f3f2ed;
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;

    .ion-item-ahorros{
      --background: transparent !important;
      width: 100%;

      .label-item-ahorros{
       font-size: 15px;
       font-family: 'SFCompactText-Medium';
       color: #f3f2ed;
       margin: 1px;
    }
  }
 }