app-image-shell.illustration-image {
    --image-shell-loading-background: transparent;
    --image-shell-spinner-color: var(--ion-color-lightest);
  }
  
  app-image-shell.user-avatar {
    --image-shell-loading-background: #ffffff;
    --image-shell-border-radius: 50%;
    --image-shell-spinner-color: var(--ion-color-dark-shade);
  }