@import "../../../../theme/mixins/inputs/checkbox-tag";
@import "../../../../theme/mixins/inputs/radio-tag";
@import "../../../../theme/mixins/inputs/color-radio";
:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background-shade);
  
    --page-tags-gutter: 5px;
  
    --page-color-radio-items-per-row: 5;
    --page-color-radio-gutter: 2%;
    --page-color-radio-width: calc((100% - (2 * var(--page-color-radio-gutter) * var(--page-color-radio-items-per-row))) / var(--page-color-radio-items-per-row));
  }

ion-toolbar{
    --background: #121212;
}

ion-content{
    --background: #121212;
}

ion-footer{
    background: #121212;
}

.item-radio{
    --background: #121212;
     min-height: 38px;
     max-height: 38px;
     align-content: center;
     align-items: center;
}



.ion-button-toolbar{
    text-transform: none;
}

.ion-list-radio{
    background-color:#121212;
    margin: 20px;
}

.div-filtro1{
  margin: auto; 
  background-color:transparent;

  .label-style{
    font-size: 16px;
    letter-spacing: 0.25px;
    color: #f3f2ed;
    font-family: 'SFUIDisplay-Regular';
  }

  .icon-style{
    zoom:2.0;
    color: #108B3C !important;
  }

  .item-radio2{

    --background: #121212;
    margin: auto;
    align-items: center;

    .radio-style{
      margin: auto; --color-checked: #108B3C;
    }
  }
}

.ion-list-checkbox{
    margin: 20px;
    background-color:#121212;

    .div-spinner-style{

        width: 100%; text-align: center; height: 50px;   display: flex;
        justify-content: center;
        align-items: center;
        
      ion-spinner{
        color: #108B3C;
       }
    }
}
.ion-checkbox{
  --border-color: #ffffff;
  --border-color-checked: #ffffff;
  --border-radius: 50%;
  --border-width: 1px;
  --background-checked: #108b3c;
  --transition	: 280ms;
}

.verticalLine {
    width:85%;
    height:1px;
    background: #f3f2ed;
    margin-top: 0;
    position: relative;
    margin: auto;
  }

.checkbox-tags {
    padding: calc(var(--page-margin) / 2) calc(var(--page-margin) - var(--page-tags-gutter));
    @include checkbox-tag();

.checkbox-tag {
  padding: 0px var(--page-tags-gutter);
  margin: var(--page-tags-gutter) 0px;
}

// Add a deeper selector to override default colors
&.square-checkbox-tags {
  background-color: var(--page-background);

  .checkbox-tag {
    --checkbox-tag-color: var(--ion-color-medium);
    --checkbox-tag-background: var(--ion-color-lightest);
    --checkbox-tag-active-color: var(--ion-color-lightest);
    --checkbox-tag-active-background: var(--ion-color-secondary);
  }
}

// Add a deeper selector to override default colors
&.rounded-checkbox-tags {
      background-color: var(--ion-color-lightest);
      
  .checkbox-tag {
    --checkbox-tag-color: #f3f2ed;
    --border-radius: 16px;
    --min-height: 30px !important;
    --max-height: 30px !important; 
    --checkbox-tag-background: transparent;
    --checkbox-tag-active-color: #f3f2ed;
    --checkbox-tag-active-background: #108b3c;
  }

  .div-border{
    border: solid 2px #108b3c; 
    border-radius: 16px;
    max-width: auto;
    min-width: auto;
    min-height: 30px;
    max-height: 30px;
  }
}
}

.button-aplicar {
      --background: #108b3c;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      text-transform: none;
      height: 50px;
      --border-radius: 16px;
      font-family: 'SFCompactText-Medium';
      --color: #ffffff;
      color: #ffffff;
  }

.ion-label{
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #f3f2ed;
    font-family: 'SFCompactText-Medium';
}

.ion-label-title{
    font-size: 22px;
    color: #f3f2ed;
    letter-spacing: 0.25px;
    font-family: 'Gotham-Medium';
}

.tag-label{
  font-size: 22px;
  letter-spacing: 0.25px;
  font-family: 'SFUIDisplay-Regular';
  color: #f3f2ed;
}

.label-range-price{
  font-size: 16px;
  color: #f3f2ed;
  letter-spacing: 0.25px;
  font-family: 'SFCompactText-Medium';
}

.label-button-header{
  color: #f3f2ed; 
  font-size: 18px;
  letter-spacing: 0.25px;
  font-family: 'SFCompactText-Medium';
}

